
#main{
    font-family: Arial;
    font-size: 1rem;
    line-height: 1em;
    text-align: center;
    align-items: center;
    background-color: #222629;
    color: #E6D1CF;
    justify-content: center;
}
#title{
    font-size: 1.5 rem;
    text-align: center;
}
#img-div{
    background: wheat;
    padding: 10px;
    display: block;
    margin: auto;
    width: 10%;
    height: auto;
    border: thin;
    color: black;
    justify-content: center;
}
#image{
    justify-self: center;
    margin-left: auto;
    margin-right: auto;
    width: 98%;
    height: auto;
}
#tribute{
    justify-content:center;
    font-size: 1em;
    line-height: 1em;
}
#short-desc{
    text-align: center;
    width: 55%;
    margin: auto;
}
#tribute-info{
    width: 40%;
    height: auto;
    text-align: justify;
    margin: auto;
    line-height: 2em;
}
#closing{
    text-align: center;
    width: 55%;
    margin: auto;
}
